html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

    main {
        background-image: url(/obrazky/plocha-light-200px.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 50px 0;
    }


/********** TLAČÍTKA MENU **********/

.section-first__odkaz-index {
    box-shadow: 0 0 3px rgb(109, 109, 109);
    background-image: linear-gradient(to right, #ffffff90 0%, #ffffff 51%, #ffffff82 100%);
}
.section-first__odkaz-contact {
    background-image: linear-gradient(to right, #eb7d00 8%, #fec92b 41%, #ff8800 100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0px 0px 3px rgb(133, 133, 133);
    color: rgb(0, 0, 0);
}

.section-first__odkaz-contact:hover {
    background-position: right center;
    color: rgb(0, 0, 0);
}

/********* OBSAH *********/

.obsah--flexbox__image-logo {
    width: 140px;
    position: absolute;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 70px;
    box-shadow: 0 0 5px rgb(119, 118, 118);
}
.obsah--flexbox__div-first {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px 15px 45px 15px;
    box-shadow: 1px 1px 2px rgba(109, 109, 109, 0.535);
}
.obsah--flexbox__paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}
.obsah--flexbox__nadpis {
    text-align: center;
    font-weight: 550;
    font-size: 20px;
    color: rgb(0, 0, 0);
/*     text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: rgb(24, 185, 196);
    text-decoration-thickness: 2px; */
    margin-top: 105px;
    margin-bottom: 5px;
}
.obsah--flexbox__text {
    padding: 15px;
    font-weight: 500;
}
.obsah--flexbox__image {
    width: 40px;
}
.obsah--flexbox__image-address {
    margin-left: 20px;
}
.obsah--flexbox__odkaz-phone {
    color: rgb(19, 192, 205);
    font-weight: 510;
    text-decoration-color: rgb(19, 192, 205);
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-underline-position: under;
}

.obsah--flexbox__paragraph-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 18px;
}
.obsah--flexbox__paragraph-button {
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 1px 1px 3px rgb(193, 192, 192);
    font-weight: 500;
}
.obsah--flexbox__paragraph-button-fb {
    background-image: linear-gradient(to right, rgb(0, 111, 196) 0%, rgb(124, 217, 250) 51%, rgb(0, 157, 255) 100%);
    margin-bottom: 10px;
    padding: 10px 40px;
}
.obsah--flexbox__paragraph-button-fb:hover {
    background-position: right center;
    color: white;
}

.obsah--flexbox__paragraph-button-ing {
    background-image: linear-gradient(to right, rgb(145, 58, 180) 0%, rgb(255, 141, 1) 51%, rgb(145, 58, 180)100%);
    padding: 10px 50px;
}
.obsah--flexbox__paragraph-button-ing:hover {
    background-position: right center;
    color: white;
}
/************* OTVÍRACÍ HODINY *************/

.obsah--flexbox__div-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 50px repeat(8, 30px);
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px rgba(109, 109, 109, 0.535);
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px 35px 45px 35px;
    margin-top: 50px;
}
.obsah--flexbox__image-calendar {
    width: 50px;
}
.obsah--flexbox__div-image-calendar {
    display: block;
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}
.obsah--flexbox__line-nadpis {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    padding: 10px 10px 10px 10px;
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 0, 0);
/*     text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: rgb(24, 185, 196);
    text-decoration-thickness: 2px; */
}
.obsah--flexbox__line {
    border-bottom: 5px solid rgba(120, 226, 255, 0.241);
    font-weight: 550;
}
.obsah--flexbox__line-so,
.obsah--flexbox__line-so-hod,
.obsah--flexbox__line-ne,
.obsah--flexbox__line-ne-hod {
    color: rgb(0, 206, 213);
}
@media screen and (min-width: 750px) {

    .obsah--flexbox {
        display: flex;
    }
    .obsah--flexbox__div-grid {
        margin-top: 100px;
        margin-left: 50px;
    }
    .obsah--flexbox__div-first {
        margin-right: 50px;
    }
}