html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
main {
    background-image: url(/obrazky/plocha-light-200px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

/************ MENU TLAČÍTKA ************/

.section-first__odkaz-index {
    box-shadow: 0 0 3px rgb(109, 109, 109);
    background-image: linear-gradient(to right, #ffffff90 0%, #ffffff 51%, #ffffff82 100%);
    color: black;
}
.section-first__odkaz-live {
    background-image: linear-gradient(to right, #eb7d00 8%, #fec92b 41%, #ff8800 100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0px 0px 3px rgb(133, 133, 133);
    color: rgb(0, 0, 0);
}
.section-first__odkaz-live:hover {
    background-position: right center;
    color: rgb(0, 0, 0);
}

/************ OBSAH *************/
.section-main__image {
    width: 100%;
    padding: 0;
    border-radius: 0;
}
.section-main__image-oslava {
    width: 120px;
}
.section_main__div {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 30px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 2px rgba(109, 109, 109, 0.535);
}
.section_main__div-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-main__nadpis {
    text-align: center;
}
.section-main__div-images-logo {
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

}
.section-main__logo-photo {
    width: 60px;
}
.section-main__div-image {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 0 0 80px 0;
}  


/* AKCE */

.section-main__nadpis-akce {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}
.section-main__podnadpis {
    margin-bottom: 3px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 550;
}
.section_main__div-akce {
    width: 80%;
}
.section-main__div-obsah {
    background-color: #fee1bc;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgb(186, 186, 186);
    width: 100%;
}
.section-main_image-obsah {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.section-main_div-div {
    display: flex;
    align-items: center;
}
.section-main_div-div-image {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.section-main_div-div-paragraph {
    font-size: 15px;
    padding-left: 2px;
    font-weight: 600;
}
.main_section-paragraph-odkaz {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 15px;
    font-weight: 600;
}
.section-main_akce-odkaz-image {
    width: 70px;
    margin-top: 17px;
}
.section-main__paragraph-popis {
    padding: 10px 20px 40px 20px;
    text-align: center;
}
.section-main_popis-odkaz {
    color: rgb(228, 133, 0);
}
.section-main_akce-odkaz {
    background-image: linear-gradient(to right, #eb7d00 0%, #ffc400 51%, #ff8800 100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0px 0px 3px rgb(133, 133, 133);
    padding: 10px;
    border-radius: 8px;
    margin: 35px 0 25px 10px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.section-main_div-odkaz {
    display: flex;
    justify-content: center;
}
.section-main_akce-odkaz:hover {
    background-position: right center;
    color: rgb(0, 0, 0);
}
@media screen and (min-width: 600px) {


    .section_main__div-paragraph {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .section-main__div-image {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(6, auto);
        gap: 0px;
        padding: 0 0 80px 0;
    }
    .section_main__div-akce {
        width: 70%;
    }
}
@media screen and (min-width: 800px) {


    .section_main__div-paragraph {
        width: 590px;
        height: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_main__div-akce {
        width: 590px;
        padding: 40px;
    }

}

