html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
main {
    background-image: url(/obrazky/plocha-light-200px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.div-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px rgba(97, 97, 97, 0.533);
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.div-order__nadpis {
    font-size: 16px;
    text-align: center;
    margin: 10px 20px 15px 20px;
}
.div-order__paragraph {
    font-size: 13px;
    text-align: center;
    padding: 0 25px 15px 25px;
}
.div-order__image {
    width: 50px;
    padding-top: 35px;
}
 /******** TLAČÍTKA V MENU **********/

.section-first__odkaz-index {
    box-shadow: 0 0 3px rgb(109, 109, 109);
    background-image: linear-gradient(to right, #ffffff90 0%, #ffffff 51%, #ffffff82 100%);
}
.section-first__odkaz-order {
    background-image: linear-gradient(to right, #eb7d00 8%, #fec92b 41%, #ff8800 100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0px 0px 3px rgb(133, 133, 133);
    color: rgb(0, 0, 0);
}
.section-first__odkaz-order:hover {
    background-position: right center;
    color: rgb(0, 0, 0);
}

/********* TLAČÍTKA **********/

.div-order__odkaz {
    background-image: linear-gradient(to right, #eb7d00 0%, #ffc400 51%, #ff8800 100%);
    box-shadow: 1px 1px 2px rgb(193, 192, 192);
    transition: 0.5s;
    background-size: 200% auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;
}
.div-order__odkaz:hover {
    background-position: right center;
    color: rgb(0, 0, 0);
}
.main {
    padding-bottom: 80px;
}

@media screen and (min-width: 600px) {

    .div-order {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 800px) {

    .div-order {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1300px) {

    .div-order {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1500px) {

    .order-flex {
        display: flex;
    }
    .div-order {
        width: 30%;
    }
    .div-order-first {
        margin-right: 30px;
    }
    .div-order-second {
        margin-left: 30px;
    }
}
@media screen and (min-width: 1900px) {

    .order-flex {
        display: flex;
    }
    .div-order {
        width: 25%;
    }
    .div-order-first {
        margin-right: 30px;
    }
    .div-order-second {
        margin-left: 30px;
    }
}
@media screen and (min-width: 2300px) {

    .order-flex {
        display: flex;
    }
    .div-order {
        width: 20%;
    }
    .div-order-first {
        margin-right: 30px;
    }
    .div-order-second {
        margin-left: 30px;
    }
}